
/*
    In the base.html I have added some jinji code for the body tags class, in the home.html
    I had a no-scroll class using jinji to remove the scrolling on this page only 
 */
body.no-scroll {
    overflow: hidden;
}

/* ------------     navbar      ------------*/
.navbar {
    height: 130px;
    background-color: rgb(211, 238, 247);
    padding: 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.navbar-brand img {
    width: 30%;
}

.brand-name {
    font-size: 32px;
}

.navbar #username-placeholder{
    font-size: 24px;
}

/* ------------     end of navbar       ------------*/

/* ------------ profile dropdown ------------*/
.dropdown #username-placeholder {
    color: black;
    font-size: 32px;
}

.dropdown-menu {
    font-size: 24px;
}

.dropdown-menu .dropdown-item {
    width: 200px;
}


/* ------------     end of dropdown       ------------*/
.content-row {
    display: flex;
    flex: 1;
    background-color: #f8f9fa;
}


.side-controls {
    max-width: 250px;
    width: 250px;
    display:flex;
    flex-direction: column;
    
}
.control {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control img {
    width:75%;
}

.video-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

}


.video-player {
    max-width: 80%; 
    max-height: 80%;
}