{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block body %}
<div class="container text-center mt-5">
    
    <div class="d-flex justify-content-center flex-column align-items-center mt-4">
        <p>This is for the sole purpose of testing and will be removed</p>
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg mb-2" style="width: 200px;">Login Page</a>
        <a href="{{ url_for('register') }}" class="btn btn-success btn-lg mb-2" style="width: 200px;">Register Page</a>
        <a href="{{ url_for('home') }}" class="btn btn-info btn-lg" style="width: 200px;">Home Page</a>
    </div>
    
    <a href="/login"><button type="button" class="login-with-google-btn" >
        Sign in with Google
    </button></a>
</div>
{% endblock %}