<div class="side-controls">

    <!-- Take video clip -->
    <div class="control">
        <img src="{{ url_for('static', filename='images/controls/video.svg')}}" alt="Video icon"/>
        <p>Video</p>
    </div>
    

    <!-- Send voice -->
    <div class="control">
        <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="{{ url_for('static', filename='images/controls/audio.svg')}}" alt="Microphone icon"/>
        <p>Speak</p>
    </div>

    <!-- Take screenshot -->
    <div class="control" onclick="handleScreenshotClicked()">
        <img  src="{{ url_for('static', filename='images/controls/image.svg')}}" alt="Screenshot icon"/>
        <p>Screenshot</p>
    </div>

    <!-- Buzzer -->
    <div class="control" onclick="handleBuzzerClicked()">
        <img src="{{ url_for('static', filename='images/controls/buzzer.svg')}}" alt="Buzzer icon"/></button>
        <p>Buzz</p>
    </div>

    
</div>